@font-face {
	font-family:'SFPRODISPro-Medium';
    src:url('./../fonts/SFPRODISPLAYMEDIUM.OTF');
    font-weight: 500;
};
@font-face {
	font-family:'SFPRODISPro-Regular';
    src:url('./../fonts/SFPRODISPLAYREGULAR.OTF');
    font-weight: 300;
}
@font-face {
	font-family:'SFPRODISPro-Bold';
    src:url('./../fonts/SFPRODISPLAYBOLD.OTF');
    font-weight: 600;
}
.f-sf-m {
	font-family: 'SFPRODISPro-Medium';
}
.f-sf-r {
	font-family: 'SFPRODISPro-Regular';
}
.f-sf-b {
	font-family: 'SFPRODISPro-Bold';
}