@media only screen and (min-width:0px) and (max-width:991px) {
	body {
		background: #fff;
	}
	.containers {width: 100%;}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
		&.site-content {
		}
	}
	.head-mobile {
		background-repeat: no-repeat!important;
		background-size: cover!important;
		background-position: center!important;
		padding: 0 10px;
		.header-m {
			padding: 20px 0;
			.nav-menu {
				width: 35px;
				float: left;
				cursor: pointer;
				.toggle {
					width: 30px;
					position: relative;
					top: 7px;
				}
			}
			.nav-user {
				width: calc(100% - 35px);
				float: right;
				position: relative;
				&__avatar {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					.avatar {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						overflow: hidden;
					}
				}
				&__action {
					width: 160px;
					background: #fff;
					border-radius: 10px;
					padding: 10px;
					z-index: 99;
					border: 1px solid #ebebeb;
					position: absolute;
					top: 80px;
					right: 0;
					opacity: 0;
					visibility: hidden;
					transition: all 0.6s;
					&.active {
						opacity: 1;
						visibility: visible;
						top: 50px;
					}
					ul {
						li {
							width: 100%;
							margin-bottom: 5px;
							display: flex;
							flex-wrap: wrap;
							justify-content: flex-end;
							a {
								text-decoration: none;
								transition: all 0.3s;
								i {
									margin-right: 5px;
								}
								span {
									transition: all 0.3s;
								}
								&:hover {
									color: $color_main;
									i {
										color: $color_main;
									}
									span {
										padding-left: 5px;
									}
								}
							}
							&:last-child {
								margin-bottom: unset;
							}
						}
					}
				}
			}
		}
		.title-page-m {
			width: 100%;
			margin-top: 15px;
			margin-bottom: 65px;
			&__content {
				width: 100%;
				.title-large {
					font-size: 20px;
					color: #fff;
				}
				.title-small {
					font-size: 13px;
					margin-top: 10px;
					color: #fff;
				}
			}
		}
	}
	.content-page-m {
		margin-bottom: 60px;
		background: #fafcfe;
		border-radius: 20px 20px 0 0;
		position: relative;
		top: -30px;
		padding: 20px 20px 0 20px;
		&__content {
			width: 100%;
			.tab-member-m {
				&__title {
					p {
						font-size: 16px;
						text-transform: uppercase;
						margin-bottom: 0;
					}
				}
				&__content {
					float: left;
				    clear: both;
				    overflow: auto;
				    margin-top: 10px;
					&-list {
						width: 100%;
					    overflow-x: auto;
					    overflow-y: hidden;
					    white-space: nowrap;
					    text-align: center;
					    padding: 6px 6px;
					    padding-bottom: 10px;
					    .item-tab-member-m{
							width: 36%;
						    display: inline-block;
						    text-align: center;
						    vertical-align: top;
						    position: relative;
						    border-radius: 20px;
						    overflow: hidden;
						    margin-left: 10px;
							&:first-child {
								margin-left: unset;
							}
							.image {
								width: 100%;
								height: 100%;
								position: relative;
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									max-width: unset;
									max-height: unset;
								}
								.icon {
									background: #fff;
									border-radius: 10px;
									width: 3.2rem;
									height: 3.2rem;
									position: absolute;
									top: 35%;
									left: 50%;
									transform: translate(-50%,-50%);
									img {
										width: 2.1rem;
										height: 2.1rem;
										object-fit: contain;
										max-width: 100%;
										max-height: 100%;
										position: absolute;
										top: 50%;
										left: 50%;
										transform: translate(-50%,-50%);
									}
								}
								.info {
									width: 100%;
									position: absolute;
									z-index: 2;
									top: 75%;
									transform: translateY(-50%);
									text-align: center;
									color: #fff;
									&-text {

									}
								}
							}
    					}
					}
					
				}
			}
			.p-table-m {
				margin-top: 20px;
				position: relative;
				&__title {
					position: relative;
					p {
						font-size: 16px;
						text-transform: uppercase;
						margin-bottom: 0;
					}
				}
				&__content {
					overflow-x: auto;
					background: #f0efff;
					padding: 10px;
					border-radius: 16px;
					margin-top: 20px;
					position: relative;
					table {
						width: 100%;
						overflow: auto;
						thead {
							tr {
								th {
									font-weight: 500;
									padding: 12px 10px;
									text-transform: uppercase;
									&.name,&.package {
										width: 150px;
										div {
											width: 150px;
										}
									}
									&.status {
										text-align: center;
									}
								}
							}
						}
						tbody {
							tr {
								td {
									padding: 5px 10px;
									&:first-child {
										border-radius: 10px 0 0 10px;
									}
									&:last-child {
										border-radius: 0 10px 10px 0;
									}
									.icon-status {
										width: 62px;
									}
									.avatar {
										width: 50px;
										height: 50px;
										overflow: hidden;
										img {
											width: 100%;
											height: 100%;
											margin-left: 0;
											object-fit: contain;
										}
									}
									.register {
										width: 120px;
										background: linear-gradient(to right,#7e4dfe, #5d6ee9);
										color: #fff;
										text-align: center;
										border-radius: 10px;
										height: 40px;
										line-height: 40px;
										overflow: hidden;
										margin: auto;
										margin-right: 0;
									}
									.registered {
										width: 130px;
										background: linear-gradient(to right,#f69229, #f08c88);
										color: #fff;
										text-align: center;
										border-radius: 10px;
										height: 40px;
										line-height: 40px;
										overflow: hidden;
										margin: auto;
										margin-right: 0;									
									}
									.date {
										width: 95px;
										.icon {
											float: left;
											position: relative;
											top: 3px;
										}
										.text {
											float: left;
											color: #e3543e;
										}
									}
									.phone {
										width: 100px;
									}
									.icon-status {
										width: 85px;
									}
									.operation {
										width: 100px;
										display: flex;
										.edit,.delete {
											width: 30px;
											float: left;
										}
										.delete {
											margin-left: 2px;
										}
									}
								}
								&.bg-white {
									td {
										background: #fff;
									}
								}
								&.active {
									td {
										background: #e6e6e6!important;
									}
								}
								&.bg-gray {
									td {
										background: #e6e6e6;
									}
								}
								&.none {
									td {
										padding: 4px;
									}
								}
							}
						}
					}
				}
				.action-fix {
					width: 50px;
					background: #fff;
					position: absolute;
					top: 45px;
					right: -20px;
					padding: 0 10px;
					padding-bottom: 15px;
					padding-top: 3px;
					table {
						thead {
							tr {
								th {
									padding: 15px 10px;
									p {
										margin-bottom: unset;
										opacity: 0;
									}
								}
							}
						}
						tbody {
							tr {
								&.active {
									td {
										height: 60px;
										position: relative;
										.icon {
											width: 30px;
											position: absolute;
											top: 50%;
											left: 50%;
											transform: translate(-50%,-50%);
										}
									}
								}
								&.none {
									td {
										padding: 4px;
									}
								}
							}
						}
					}
					ul {
						width: 100%;
						li {
							width: 100%;
							&.active {
								height: 60px;
							}
							&.none {
								height: 2px;
							}
						}
					}
				}
				.paginate-m {
					margin-top: 20px;
					ul {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						li {
							display: inline-block;
							width: 45px;
							height: 42px;
							border: 1px solid #7e4dfe;
							position: relative;
							margin-left: 10px;
							overflow: hidden;
							background: #fff;
							border-radius: 10px;
							cursor: pointer;
							transition: all 0.3s;
							a {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%,-50%);
								transition: all 0.3s;
							}
							&.active {
								background: linear-gradient(to right,#7e4dfe, #5d6ee9);
								a {
									color: #fff;
								}
							}
							&:hover {
								background: linear-gradient(to right,#7e4dfe, #5d6ee9);
								a {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
	.footer-m {
		background: $color_main;
		width: calc(100% - 20px);
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 16px;

		&__content {
			.item-footer-m {
				width: calc(100%/3);
				float: left;
				height: 65px;
				&__img {
					height: 33px;
					margin-top: 5px;
					.img {
						width: 25px;
						height: 100%;
						margin: auto;
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
				}
				&__info {
					height: calc(100% - 45px);
					text-align: center;
					color: #fff;
					p {
						margin-bottom: unset;
					}
				}
				&.active {
					position: relative;
					.item-footer-m__img {
						.img {
							width: 60px;
							position: absolute;
							top: -21px;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width:800px) and (max-width: 991px) {
	.content-page-m {
		&__content {
			.tab-member-m {
				&__content {
				    &-list {
			    		.item-tab-member-m {
			    			width: 18%!important;
			    		}
					}
				}
			}
		}
	}
}
@media only screen and (min-width:550px) and (max-width: 799px) {
	.content-page-m {
		&__content {
			.tab-member-m {
				&__content {
				    &-list {
			    		.item-tab-member-m {
			    			width: 20%!important;
			    		}
					}
				}
			}
		}
	}
}