@media only screen and (min-width:0px) and (max-width: 991px) {
	//Danh muc - Danh sach
	.add-task {
		margin-top: 20px;
		&__btn {
			background: linear-gradient(to right,#7e4dfe, #5d6ee9);
			padding: 10px 30px;
			color: #fff;
			border-radius: 10px;
			overflow: hidden;
			transition: all 0.3s;
			text-decoration: none;
			&:hover {
				background: linear-gradient(to right,#5d6ee9,#7e4dfe);
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.page-content {
		&__form {
			background: unset;
			&-title {
				.title-status {
					position: relative;
					top: 5px;
					&__icon {
						margin-right: 3px;
						width: 20px;
						position: relative;
			    		top: 2px;
					}
					&__text {
						color: #e3543e;
			    		position: relative;
			    		top: 2px;
					}
				}
			}
			&-content {
				.avatar {
					&-title {
						p {
							margin-bottom: unset;
							color: #aaa;
						}
					}
					&-content {
						border: 1px solid #ebebeb;
						border-radius: 10px;
						overflow: hidden;
						padding: 20px;
						margin-top: 8px;
						.avatar-preview {
							width: 150px;
						    margin: 0 auto;
						    img {
						    	width: 100%;
						    	height: 100%;
						    }
						}
						.avatar-action {
							margin-top: 5px;
							&__add {
								border: 1px solid #ebebeb;
								width: 150px;
								margin: 0 auto;
								display: flex;
								flex-wrap: wrap;
								border-radius: 8px;
								overflow: hidden;
								.choose-file {
									background: #efeff2;
									width: 50%;
									float: left;
									padding: 8px 0;
									text-align: center;
									border-right: 1px solid #ebebeb;
									cursor: pointer;
									position: relative;
									input {
										width: 100%;
										height: 100%;
										position: absolute;
										top: 0;
										left: 0;
										opacity: 0;
										cursor: pointer;
									}
								}
								.name-file {
									width: 50%;
									float: left;
									background: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width:0px) and (max-width: 767px) {
	//Them moi
	.page-content {
		&__form {
			padding: unset;
			&-content {
				.avatar {
					&-title {
						p {
							margin-bottom: unset;
							color: #aaa;
						}
					}
					&-content {
						border: 1px solid #ebebeb;
						border-radius: 10px;
						overflow: hidden;
						padding: 20px;
						margin-top: 8px;
						.avatar-preview {
							width: 150px;
						    margin: 0 auto;
						    img {
						    	width: 100%;
						    	height: 100%;
						    }
						}
						.avatar-action {
							margin-top: 5px;
							&__add {
								border: 1px solid #ebebeb;
								width: 150px;
								margin: 0 auto;
								display: flex;
								flex-wrap: wrap;
								border-radius: 8px;
								overflow: hidden;
								.choose-file {
									background: #efeff2;
									width: 50%;
									float: left;
									padding: 8px 0;
									text-align: center;
									border-right: 1px solid #ebebeb;
									cursor: pointer;
									position: relative;
									input {
										width: 100%;
										height: 100%;
										position: absolute;
										top: 0;
										left: 0;
										opacity: 0;
										cursor: pointer;
									}
								}
								.name-file {
									width: 50%;
									float: left;
									background: #fff;
								}
							}
						}
					}
				}
				.form-group {
					&.row {
						.p-right-5 {
							padding-right: 0!important;
						}
						.p-left-5 {
							padding-left: 0!important;
							margin-top: 15px;
						} 
					}
				}
			}
		}
	}
}